html {
  font-size: 16px;
  font-family: "Space Mono", sans-serif;
}

.headSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;  /* per spec */
  background-color: rgba(255, 245, 238, 1);  /* seashell */
}

.logoAndName {
  display: inline-flex;
  align-items: center;
}

.logoAndName img {
  margin-left: 1.5rem;  /* per spec */
}

.name {
  font-size: 1rem;
}

.darkColor {
  font-weight: bold;
}

.lightColor {
  color: rgba(148, 148, 148, 1);  /* lighter gray */
}

.navArea {
  /* debug
  background-color: yellow; 
  */
}


.navArea .desktop {
  display: flex;
  justify-content: flex-end;
}

.navArea .desktop li {
  padding-right: 1rem;  /* per spec */
  color: rgba(108, 108, 108, 1);  /* gray - not working */
}

.emptyArea {
  display: block;
  height: 11.25rem;  /* per spec */
  width: 100%;
  background-color: rgba(148, 148, 148, 1); 
/* debug
  border: medium solid red; 
*/
}

.introSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(208, 208, 208, 1);
  padding: 2rem 2.5rem 2rem 1.5rem;  /* per spec */
}

.introSection img {
  width: 60%;  /* per spec */
  max-width: 100%;  /* scale for resize */
  height: auto;  /* scale for resize */
  max-height: 100%;
}

.textArea {
  display: flex:
  flex-direction: column;
  margin-left: 2.5rem;  /* per spec */
  width: 80%;
}

.text1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(70, 70, 70, 1);
}

.text2 {
  font-size: 0.9rem;
  padding-top: 2rem;   /* per spec for mobile? */
  padding-bottom: 1.5rem;  /* per spec for mobile */
}

.button {
  font-size: 0.75rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(80, 80, 80, 1);
  height: 1.8rem;
  width: 100%;
  padding: 0.5rem auto;  /* per spec */
}

.infoSection {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;  /* per spec */
  padding-left: 1.5rem;  /* per spec */
/* debug
  border: medium solid red; 
*/
}

.mainInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1.5rem;  /* per spec - why setting contain padding-left didn't work? */
  width: 60%;
}

.mainInfo img {
  width: 100%;  /* per spec */
  max-width: 100%;  /* scale for resize */
  height: auto;  /* scale for resize */
}

.mainInfo h2 {
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 2rem;
}

.mainInfo p {
  font-weight: 200;
  font-size: 0.8rem;
  padding-top: 1.5rem;
}

.mainInfo h6 {
  font-size: 0.6rem;
  font-weight: 200;
  padding-top: 2rem;
}

.additionalInfo {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.additionalInfo img {
  width: 35%;
  height: 100%;
/* debug
  border: medium solid red; 
*/
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 26.4375rem;
  padding: 0 0 1rem 1rem;
}

.infoText {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  width: 65%;
  padding-left: 1rem;
}

.infoText h4 {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.infoText h5 {
  font-size: 0.8rem;
  font-weight: 200;
  padding-bottom: 2rem;
}

.infoText h6 {
  font-size: 0.6rem;
  font-weight: 200;
  color: rgba(0, 0, 255, 0.7);
}

.info img desktop {  /* question: when do I use img.desktop */
  width: 100%;
  max-width: 100%;
  height: auto;
}

.startLearningContainer {
  display: flex;
  flex-direction: column;  /* h2 & courseSection */
  align-items: center;
  background-color: rgba(228, 228, 228, 1);
  padding: 2rem 0;  /* per spec */
}

.startLearningContainer h2 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 2rem;
  text-align: center;
}

.courseSection { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.course {
  display: flex;
  flex-direction: column;  /* img & courseDesc */
  margin: 0 1rem;  /* per spec */
}

.course img {
  max-width: 100%;
  height: auto;
  max-height: 10.25rem;  /* per spec */
}

.courseDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0 1.5rem 1rem;  /* per spec */
  background-color: white;
}

.courseDesc h3 {
  font-size: 1rem;
  font-weight: 500;
}

.courseDesc h5 {
  font-size: 0.5rem;
  font-weight: 300;
  padding: 0.5rem 0;  /* per spec */
}

.courseDesc h6 {
  font-size: 0.5rem;
  font-weight: 300;
}

.courseSection.mobile h3 {
  padding: 1rem;  /* per spec */
  margin-bottom: 0.5rem;  /* per spec */
  background-color: lightgray;  /* not working */
}

.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .logoAndName {
    display: none;
  }
  .navArea .desktop {
    display: none;
  }
  .navArea .mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .introSection .desktop {
    display: none;
  }
  .emptyArea {
    display: block;
  }
  .infoSection {
    padding-top: 1rem;  /* per spec */
    padding-bottom: 2rem;  /* per spec */
  }
  .mainInfo.desktop {
    display: none;
  }
  .info img.desktop {
    display: none;
  }
  .infoText.desktop {
    display: none;
  }
  .info img.mobile {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }
  .info h4.mobile {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 1rem 0 1rem;
  }
  .info h5.mobile {
    display: block;
    font-size: 0.8rem;
    font-weight: 200;
    padding: 0.5rem 1rem 0 1rem;
  }
  .info h6.mobile {
    display: block;
    font-size: 0.6rem;
    font-weight: 200;
    color: rgba(0, 0, 255, 0.7);
    padding: 0.5rem 1rem 1rem 1rem;
  }
  .info {
    display: flex;
    flex-direction: column;
  }
  .courseSection.desktop {
    display: none;
  }
  .courseSection.mobile {
    display: flex; 
    flex-direction: column;
  }
  .startLearningContainer {
    background-color: white;
    padding: 2rem 0 1rem 0;  /* per spec */
  }
}

